*{
    padding: 0;
    margin: 0;
    
}
a{
    text-decoration: none !important;
} 
.navbar-brand{
    font-size: 25px
}
nav{
    position: fixed;
    font-size: 19px;
}

.carousel-inner .carousel-item {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*login.php*/
.body_deg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
 }

